/* BASE */
body {
	margin: 0;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: -41px;
}

@media print {
	#noprint {
		display: none;
	}
	body {
		background: #fff;
	}
}

@media print {
	#nocomponet {
		display: none;
	}
	body {
		background: #fff;
	}
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

@media ( max-width : 640px) {
	.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
		width: 100%;
	}
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

@media ( max-width : 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

.ui-helper-reset {
	line-height: -0.7;
	font-size: 85%;
}

.ui-widget-header {
	border: none;
	background: none;
	font-weight: 100;
	color: #1592d0;
}

.ui-galleria-caption {
	background: #e91e63;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	background: 0;
	border: 0;
	color: #000000;
}

.cor1 .fc-content {
	background: rgb(20, 197, 124) !important;
	color: #fff;
	border: none;
}

.cor2 .fc-content {
	background: #4571c3 !important;
	border: none;
}

.fc-event {
	border: none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c1c1c1),
		to(#666)) !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 1px solid #00a4ff;
	background: #0aa7ff
		url(/bravos-6.0/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.xhtml?ln=primefaces-aristo)
		50% 50% repeat-x;
	background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0));
	background: #c1dcea
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.6)), to(rgba(255, 255, 255, 0)));
	background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0));
	font-weight: bold;
	color: #313131;
	-moz-box-shadow: 0 0 5px #85b2cb;
	-webkit-box-shadow: 0 0 8px #85b2cb;
	box-shadow: 0 0 8px #85b2cb;
}

.fc-slats .fc-minor td {
	border-top-style: inherit !important;
}

.fc-toolbar {
	text-align: center;
	margin-bottom: 1em;
	color: #fff;
}

.ui-widget-content {
	border: 1px solid #d0d0d0 !important;
}

.fc-event {
	position: relative;
	display: block;
	font-size: .85em;
	line-height: 1.3;
	border-radius: 3px;
	border: 1px solid #3a87ad !important;
	background-color: #0742af !important;
	font-weight: normal;
}

.animated .ui-progressbar-value {
	background-image:
		url("/showcase/javax.faces.resource/demo/images/pbar-ani.gif.xhtml");
}

.ui-progressbar .ui-widget-header {
	background: #1dd63d;
	background: #1dd63d linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #1dd63d
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #1dd63d -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,
		endColorstr=#00FFFFFF);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0px;
}

.jqplot-event-canvas {
	background-color: rgba(255, 0, 0, 0);
	border: 1px solid #fff;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	/* border: 1px solid #a8a8a8; */
	/* background: #c4c4c4 url(/bravos-6.0/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x; */
	background: #e8e8e8 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0)) !important;
	/* background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0))); */
	background: #e8e8e8 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0)) !important;
	font-weight: normal !important;
	/* color: #4f4f4f; */
	/* text-shadow: 0 1px 0 rgba(255,255,255,0.7); */
}

.ui-datepicker .ui-datepicker-current-day .ui-state-highlight,
	.ui-datepicker .ui-datepicker-current-day .ui-state-default {
	background: #fff06c;
	color: #ff0000 !important;
	font-weight: bold;
	text-shadow: 0 1px 1px #ffffff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-radiobutton-icon {
	margin-left: -1px !important;
	margin-top: -1px !important;
}

.ui-datatable table {
	border-collapse: collapse !important;
	width: 98% !important;
	table-layout: fixed !important;
}

.ui-datatable-tablewrapper {
	overflow: hidden !important;
}

.btnx {
	padding: 5px;
	text-shadow: 0 1px 0 rgba(230, 69, 69, 0);
	-moz-box-shadow: inset 0 1px 0 rgba(230, 69, 69, 0);
	-webkit-box-shadow: inset 0 1px 0 rgba(230, 69, 69, 0);
	box-shadow: inset 0 1px 0 rgba(230, 69, 69, 0);
}

/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	    border: 1px solid #a8a8a8;
    background: #e4e4e4 url(/bravos-6.0/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo) 50% 50% repeat-x !important;
    background: #e4e4e4 linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0)) !important;
    background: #e4e4e4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0))) !important;
    background: #e4e4e4 -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,0)) !important;
    font-weight: bold !important;
    color: #5a5a5a !important;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7) !important;
} */